body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.container {
  width: 400px;
  background: white;
  padding: 20px;
  margin: 80px auto;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #4facfe;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #007bff;
}
